/* body {
    height: auto;
    background: linear-gradient(#2A00B7, #42006C);
} */
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  